@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;600;700&display=swap');


.headerSection{
    background: #F55A5A;
    height: 10vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

.headerSection > p{
    margin: auto;
    padding-top: 2rem;
    color: #fff;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 18px;
    letter-spacing: -0.075em;


}